{% set cusdis = config.extra.cusdis %}
{% if page and page.meta and page.meta.cusdis is string %}
{% set cusdis = page.meta.cusdis %}
{% endif %}
{% set copyright = config.extra.copyright %} {% if page and page.meta and page.meta.copyright is string %} {% set copyright = page.meta.copyright
    %} {% endif %}
{% set authors = 'CSU CS Wiki' %} {% if page and page.meta and page.meta.author is string %} {% set authors = page.meta.author
    %} {% endif %}
<hr>
<blockquote class="page-copyright">
    <span>本页面最近更新：</span>
    <span class="facts_modified"></span>，<a class="edit_history">更新历史</a><br>
    <span>发现错误？想一起完善？ <a href="{{ page.edit_url }}" title="{{ lang.t('edit.link.title') }}" class="page_edit_url">在
            GitHub上编辑此页！</a></span><br>
    <span>本页面贡献者：</span><span class="page_contributors">{{ authors }}</span><br>
    <span>本页面的全部内容在
        <strong>{{ copyright }}</strong> 协议之条款下提供，附加条款亦可能应用</span>
</blockquote>
{% if not page.is_homepage %}
<!-- <span> test page.is_homepage= {{ page.is_homepage }}  page.url= "{{ page.url|url }}">{{ page.title }} page.meta = {{ page.meta }}</span> -->
{% set app_id = config.extra.cusdis.app_id %}
{% set host = config.extra.cusdis.host %}
{% set lang = config.extra.cusdis.lang %}
<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="e44c94a5-de23-4a23-b724-d327887c8544"
  data-page-url="{{ page.url }}"
  data-page-title="{{ page.title }}"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

{% endif %}